doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
  body
    nav.navbar.navbar-expand-lg.navbar-light(style='background-color: #005c99;')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo01', aria-controls='navbarTogglerDemo01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.container.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='/students', style='color: #f8f9fa;')
              | Students List 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/statistics/2018', style='color: #f8f9fa;')
              | Statistics
        ul.navbar-nav
          li.nav-item
            a.nav-link(href='/addUser', style='color: #f8f9fa;')
              i.fa.fa-plus
          li.nav-item
            a.nav-link(href='/logout', style='color: #f8f9fa;')
              | Logout
    .container.table-responsive.mt-5
      div(style='background-color: #ebebeb;')
        h2 Students List
      .row.mt-5
        .col-6
          form(action='/search', method='POST')
            .responsive
              table
                tr
                  td
                    input#keyword.form-control(name='keyword', type='text', style='margin-bottom: 20px')
                  td
                    select#kolom.form-control(name='kolom', style='margin-bottom: 20px')
                      option(value='name') Name
                      option(value='address') Address
                  td
                    select#sortBy.form-control(name='sortBy', style='margin-bottom: 20px')
                      option(value='ASC') ASC
                      option(value='DESC') DESC
                  td
                    input.btn.btn-primary(type='submit', value='Search', style='margin-bottom: 20px')
        .col-6(align='right')
          form(action='/input', method='GET')
            input.btn.btn-primary(type='submit', value='Input', style='margin-bottom: 20px')
      table.table.table-striped
        thead
          tr
            th(scope='col')= 'ID'
            th(scope='col')= 'Name'
            th(scope='col')= 'Admission Date'
            th(scope='col')= 'Address'
            th(scope='col')= 'Gender'
            th(scope='col')= 'Date Of Birth'
            th(scope='col')= 'Email'            
            th(scope='col')= 'Action'
        tbody
        for students in data
          tr
            td= students.student_id
            td= students.name
            td= students.admission_date
            td= students.address
            td= students.gender
            td= students.date_of_birth
            td= students.student_email
            td
              a(href='/students/'+students.student_id)
                button.btn.btn-success(type='button')
                  i.fa.fa-pencil
              a(href='#')
                button.btn.btn-danger(type='button', onclick='hapus('+students.student_id+')')
                  i.fa.fa-trash
                  
// Modal
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title WARNING!
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
      .modal-body
        | Are you sure you want to delete this data?
      .modal-footer
        button.btn.btn-danger(type='button', onclick='prosesHapus()') YES
        button.btn.btn-secondary(type='button', data-dismiss='modal') NO

script(type='text/javascript').
  function hapus (e) {
  window.idStudent = e;
  $("#myModal").modal('show');
  }
  function prosesHapus(){
  var id = window.idStudent;
  $.ajax({
  url:'/students/delete/'+id,
  type:'GET',
  success : function (respon) {
  setTimeout(function() {$("#myModal").modal('hide');}, 1000);
  location.reload();
  }
  })
  }
